p, pre, blockquote, table, ul, ol, dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

ul ul, ul ol, ol ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li { margin: 0.3em auto; }

ul {
  margin-left: 2em;
  padding-left: 0;
}

dt { font-weight: bold; }

img { border: none; }

pre {
  border-left: 5px solid #dcdcdc;
  background-color: #f5f5f5;
  padding-left: 1em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 0.8em;
  border-radius: 6px;
}


li > a {
  color: #1e90ff;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover { color: #ff4500; }

blockquote {
  color: #484848;
  font-size: 0.9em;
  line-height: 120%;
  padding: 0.6em;
  border-left: 5px solid #dcdcdc;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.3em;
}

th { background-color: #f0f0f0; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

del {
  text-decoration: line-through;
  color: #777777;
}

.toc li { list-style-type: none; }

.justleft { text-align: left; }
.justright { text-align: right; }
.justcenter { text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  background-color: #eeeeee;
  font-family: monospace;
  padding: 2px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 3px;
  display: inline-block;
  color: #52595d;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/*******************************************/
/* NATHANS HANDWRITTEN CSS BELOW THIS LINE */
/*******************************************/

body{
    font-family: "Garamond", "EB Garamond", "Times New Roman", "serif";
    font-size: 100%;
    background-color: #f9f3e5;
    border-style: solid;
    border-width: 1em 3em;
    border-color: aliceblue;
    padding: 1em 2em;
    min-height: 100vh;
    max-width: 70em;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "sans-serif";
    font-weight: bold;
    line-height: 120%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    background-color: #becbef;
    padding-left: 0.1em;
}

h1 {
    font-size: 2em;
    color: #000000;
    text-transform:capitalize;
    width: 85%;
}

h2 {
    font-size: 1.6em;
    color: #404040;
    width: 70%;
}

h3 {
    font-size: 1.4em;
    color: #707070;
    width: 55%;
}

/* way to get background color on just part of element*/
/*h4::before{
  content: "";
  display: inline-block;
  z-index: -1;
  position: absolute;
  height: 1.2em;
  width: 45%;
  background: #becbef;
}*/

h4 {
    font-size: 1.2em;
    color: #858585;
    width: 45%;
}

h5 {
    font-size: 1.0em;
    color: #939393;
    width: 38%;
}

h6 {
    font-size: 0.8em;
    color: #9c9c9c;
    margin-bottom: 0.7em;
    width: fit-content;
}

p + div > h1,
p + div > h2,
p + div > h3,
p + div > h4,
p + div > h5{
    margin-top: 1.2em;
}

div + div > h2,
div + div > h3,
div + div > h4,
div + div > h5,
div + div > h6{
  margin-top: -0.5em;
}

body > p + div:first-of-type > h1{
    margin-top: -0.3em;
    margin-bottom: 0.25em;
}

body > div:nth-of-type(2) + p{
    margin-top: -0.5em;
}

body > p + div:nth-of-type(3) > h1{
    margin-top: -0.3em;
}

p > a {
  font-family: "Helvetica", "sans-serif";
  color: white;
  font-size: 0.8em;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #246eb9;
  font-weight: 500;
}

p > a:hover {
  color: #dcdcdc;
  background-color: #005380;
}


.smallnote {
    margin-top: -1.0em;
    font-size: 0.7em;
    line-height: 1;
    font-weight: 200;
}

/************
 * begin tooltip section
 *************/

.tooltip {
  position: relative;
  display: inline;
  vertical-align: super;
  font-size: smaller;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: smaller;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext > a {
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #2792a7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}

/************
 * end tooltip section
 *************/
